<div class="col-sm-3">
  <ul class="sidebar-nav">
    <li><a href="/games">Games</a></li>
    <li><a href="/platforms">Platforms</a></li>
    <hr>
    <li><a href="/games/create">Add game</a></li>
    <li><a href="/platforms/create">Add platform</a></li>
  </ul>
</div>
