<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/sidebar.ejs') %>
        <div class="col-sm-9">
          <h1>Inventory</h1>
          <hr>
          <a href="/games">View all games</a>
          <br>
          <a href="/platforms">View all platforms</a>
        </div>
      </div>
    </div>
  </body>
</html>
